@import '~antd/dist/antd.css';

/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.shadow:hover {
    box-shadow: 0 10px 6px -6px #ddd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-cell-text {
    color: white;
    font-weight: bold;
}

.table-cell {
    cursor: pointer;
    position: relative;
}

.table-cell.is-absent {
    background: #FF6260 !important;
}

.table-cell.is-absent .anticon {
    position: absolute;
    right: 3px;
    top: 3px;
    color: white;
}

.table-cell.is-present {
    background: #3BDE86 !important;
}

.record-button-group {
    margin-bottom: 15px;
}

.change-request-modal .item {
    margin-bottom: 10px;
}

.change-request-modal .label,
.change-request-modal .ant-form-item-label {
    display: inline-block;
    font-weight: bold;
}

.change-request-modal .info-wrapper {
    margin-bottom: 15px;
}

.change-request-modal .label.shifted-down {
    padding-top: 5px;
}

.change-request-modal .info-wrapper .info {
    display: inline-block;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
    padding: 5px;
}

.change-request-modal .status {
    display: inline-block;
    margin-left: 5px;
}

.comment-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px;
    min-height: 120px;
    border-radius: 4px;
}

.to-session-button {
    padding: 0 !important;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logo {
    height: auto;
    background: none !important;
}